<span class="combobox-control @ExpandedClass" @onclick="OnClicked">
    @foreach (var item in Items)
    {
        <input type="radio" 
               id="@(Name+"-"+item.Id)"
               name="@Name" 
               value="@item.Id" checked="@(item.Id == Active)">
        <label for="@(Name+"-"+item.Id)">@item.DisplayName</label>
    }
</span>


@code {
    static int InstanceCount;

    [Parameter]
    string Placeholder { get; set; } = "Select...";

    [Parameter]
    List<ComboDataItem> Items { get; set; }

    [Parameter]
    string Active { get; set; } = null;

    string Name => $"cb_{InstanceCount}";

    bool Expanded = false;

    string ExpandedClass => Expanded ? "expanded" : "";

    protected override void OnInit()
    {
        InstanceCount++;
        Items = new List<ComboDataItem>
        {
            new ComboDataItem("opt1", "Option #1"),
            new ComboDataItem("opt2", "Option #2"),
            new ComboDataItem("opt3", "Option #3"),
            new ComboDataItem("opt4", "Option #4"),
            new ComboDataItem("opt5", "Option #5")
        };
        Active = "opt4";
    }

    private void OnClicked(UIMouseEventArgs e)
    {
        Expanded = !Expanded;
    }
}
