@inherits  StateAwareComponentBase

<div @ref="@Element" class="source-panel-component" style="width: @Width">
    <RadzenTabs>
        <Tabs>
            @foreach (var sourceFile in State.SourceFiles)
            {
                Console.WriteLine($"Render: {sourceFile.Id}");
                <RadzenTabsItem Text="@sourceFile.Id" Selected="@(State.SelectedSourceFileName == sourceFile.Id)">
                    <SourceFile Script="@($"// This is {sourceFile.Id}")" />
                </RadzenTabsItem>
            }
        </Tabs>
    </RadzenTabs>
</div>

@code 
{
    [Parameter]
    string Width { get; set; }

    /// <summary>
    /// The parent panel can access the native HTML element of 
    /// this component
    /// </summary>
    public ElementRef Element;

    protected override void OnSelectedSourceFileChanged(ComboDataItem selectedSourceFile)
    {
        Console.WriteLine($"Source file changed: {selectedSourceFile.Id}");
        StateHasChanged();
    }
}
